//http://web-design-weekly.com/2013/05/12/handy-sass-mixins/

@mixin ContenedorPrincipal {
    max-width: 100%;
    margin: 0 auto;
}


@mixin MenuHeader {
    position       : fixed;
    width          : 100%;
    z-index        : 9999;
    top            : 10px;
    left           : 0;
    height         : 60px;
    font-size      : 0.9rem;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

@mixin  MenuColor ( $color ) {
    color: $color;
    margin-right: 18px;
}

@mixin MenuLogo {
    width: 180px;
    margin-left: 20px;
    padding: 15px;
}

@mixin FlexCentrar ($Altura) {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : $Altura;
}