
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}
body {
    background : $body;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    font-size: 0.8rem;
}

 p {
    text-align: justify;
    font-size: 17px;
    color: $black;
    line-height: 25px;
    margin: 10px 0px;
}