//=======================================================
// COLORES
//=======================================================
$white: #FFFFFF;
$black: #111111;
$balquimia : #f9512f;


$primary-color:  #f9512f;
$secondary-color: #FFBE54;
$highlight-color: #FFDBA0;



//=======================================================
// FUENTES
//=======================================================
