.site-prd-srv-container {
    margin: 0 auto;
    width: 100%;
}


.site-prd-srv-container .info-container {
    width: 85%;
    margin: auto;
}

.site-prd-srv-container article {
    align-self: center;
}

.site-prd-srv-container h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 10px
}


.contenedor-tarjetas {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  
  @media only screen and (min-width: 500px) {
    .contenedor-tarjetas {
      grid-template-columns: 1fr 1fr;
    }  
  }
  
  @media only screen and (min-width: 850px) {
    .contenedor-tarjetas {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  
  .card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }
  
  .card:hover {
    top: -4px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  
  .card article {
    padding: 20px;
  }
  
  .card .thumb1, .thumb2, .thumb3, .thumb4, .thumb5, .thumb6, .thumb7, .thumb8 {
    padding-bottom: 80%;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    
  }

  
  /* typography */
  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
    font-weight: bold;
  }
  
  .card p { 
    line-height: 1.4;
    font-size: 14px;
  }
  
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }

  .card article {
    padding: 20px;
    flex: 1;
     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card p { 
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
  }